@model ViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div>
        <h3>For:</h3>
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            <div>
                <input asp-for="@Model.Items[i].Id" />
                <input asp-for="@Model.Items[i].Name" />
            </div>
        }
    </div>
    <div>
        <h3>Foreach:</h3>
        @foreach (var item in Model.Items)
        {
            <div>
                <input asp-for="@item.Id" />
                <input asp-for="@item.Name" />
            </div>
        }
    </div>
    <button>Submit</button>
</form>
